<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Streaming WebRTC Example</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/streaming.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/webrtc-adapter.js') }}"></script>
    <script type="text/javascript">
      ws_addr = 'ws://192.168.1.113:5001/ws/{{ room_id }}';
    </script>
    <script src="{{ url_for('static', filename='js/streaming.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <div class="videos">
        <video id="remote" autoplay></video>
        <video id="local" autoplay muted></video>
      </div>
    </div>
    <footer>
      <span id="status" class="small"></span>
    </footer>
  </body>
</html>
